{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SotiPlants</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</head>

<body>
    <div class="wrapper">
        <aside>
            <!-- logo de la pagina -->
            <header>
                <h1 class="logo">El Comilon</h1>
                <img class="logo_imagen" src="{% static '\images\logocomilon.png' %}" alt="">
            </header>
            <!-- menu de navegacion en un aside -->
            <ul class="menu">
                <li>
                    <a href="{% url 'contacto' %}" class="btn btn-primary btn-lg enabled btn-general" role="button"
                        aria-disabled="true"><i class="bi bi-envelope"></i>Contacto</a>
                </li>
                <li>
                    <a href="{% url 'index' %}" class="btn btn-primary btn-lg active btn-general" role="button"
                        aria-disabled="true"><i class="bi bi-envelope"></i>Menu</a>
                </li>
                <li>
                    <a href="{% url 'carrito' %}" class="btn btn-primary btn-lg enabled btn-general" role="button"
                        aria-disabled="true" id="btn-carrito"><i class="bi bi-basket"></i>Carrito</a>
                </li>
            </ul>
            <footer>
                <p class="texto-footer">©ElComilon</p>
            </footer>
        </aside>
        <!-- main que contiene las distintas vistas -->
        <main>
            <h3>Menu De Platos</h3>
            <div class="contenedor-productos">
                {% for maceta in macetas %}
                    <div class="productos">
                        <img class="producto-imagen" src="{{ maceta.foto.url }}" alt="{{ maceta.nombre }}">
                        <div class="producto-detalles">
                            <h4 class="producto-titulo">{{ maceta.nombre_producto }}</h4>
                            <p class="producto-precio">${{ maceta.precio }}</p>
                            <a href="{% url 'Add' maceta.id_produ %}" class="btn btn-primary btn-agregar-carrito">Agregar al Carrito</a>
                        </div>
                    </div>
                {% endfor %}
            </div>            
        </main>
    </div>
    <!-- selector de temas fuera de demas etiquetas para evitar errores -->
    <div class="form-group" id="themeSelector">
        <label for="theme">Selecciona un color de fondo:</label>
        <select class="form-control" id="theme">
            <option value="default">Claro</option>
            <option value="dark">Oscuro</option>
        </select>
    </div>
</body>
</html>
